html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.ant-form-item-control-input .ant-select-single .ant-select-selector .ant-select-selection-search-input {
  width: 0;
}

.title-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav{
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.center{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-align-end{
  display: flex;
  flex-direction: column;
  text-align: end;
}
